<head>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
</head>

<body onload="calc()">
    <div id='categories'>
        <div id='yes'>
            <button class='ibutton btn btn-primary btn-block' id="plusyes" onclick="plusyes()">+Yes</button>
            <button class='ibutton btn btn-danger btn-block' id="minusyes" onclick="minusyes()">-Yes</button>
            <input class="ifield form-control" oninput="calc()" id="yesnum" value=<%=values.yes %> >
        </div>
        <div id="no">
            <button class='ibutton btn btn-primary btn-block' id="plusno" onclick="plusno()">+No</button>
            <button class='ibutton btn btn-danger btn-block' id="minusno" onclick="minusno()">-No</button>
            <input class="ifield form-control" oninput="calc()" id="nonum" value=<%=values.no %>>
        </div>
        <div id="np">
            <button class='ibutton btn btn-primary btn-block' id="plussu" onclick="plussu()">+SU</button>
            <button class='ibutton btn btn-danger btn-block' id="minussu" onclick="minussu()">-SU</button>
            <input class="ifield form-control" oninput="calc()" id="sunum" value=<%=values.su %>>
        </div>
    </div>
    <div id="info">
        <div id="signuppercent">
            <p>Sign Ups</p>
            <p id="signupnum">0.00%</p>
        </div>
        <div id="usagepercent">
            <p>Usage</p>
            <p id="usagenum">0.00%</p>
        </div>
    </div>
    <div id="actions">
        <form action="/" method="POST">
            <div id="publish">
                <div class="hidden-attr">
                    <input name="pyes" id="publish-yes" value=<%=values.yes %>>
                    <input name="pno" id="publish-no" value=<%=values.no %>>
                    <input name="psu" id="publish-su" value=<%=values.su %>>
                </div>
                <button class='abutton btn btn-success btn-block' id="pub">Publish</button>
            </div>
        </form>
        <div id="rundown">
            <form action="/rundown" method="GET">
                <button class='abutton btn btn-info btn-block' id="pub">Rundown</button>
            </form>
        </div>

        <form action="/suspend" method="POST">
            <div id="suspend">
                <div class="hidden-attr">
                    <input name="syes" id="suspend-yes" value=<%=values.yes %>>
                    <input name="sno" id="suspend-no" value=<%=values.no %>>
                    <input name="ssu" id="suspend-su" value=<%=values.su %>>
                </div>
                <button class='abutton btn btn-secondary btn-block' id="pub">Suspend</button>
            </div>
        </form>
        <div id="retrieve">
            <form action="/retrieve" method="GET">
                <button class='abutton btn btn-secondary btn-block' id="pub">Retrieve</button>
            </form>
        </div>
    </div>
</body>
<script>
    function calc() {
        let yes = parseInt(document.getElementById("yesnum").value)
        let no = parseInt(document.getElementById("nonum").value)
        let su = parseInt(document.getElementById("sunum").value)

        let denom = yes + no + su
        if (denom == 0) {
            denom = 1
        }
        let signups = ((yes / denom) * 100).toFixed(2)
        document.getElementById("signupnum").innerHTML = String(signups) + "%"
        let usage = (((yes + su) / denom) * 100).toFixed(2)
        document.getElementById("usagenum").innerHTML = String(usage) + "%"

        document.getElementById("publish-yes").value = document.getElementById("yesnum").value
        document.getElementById("suspend-yes").value = document.getElementById("yesnum").value

        document.getElementById("publish-no").value = document.getElementById("nonum").value
        document.getElementById("suspend-no").value = document.getElementById("nonum").value

        document.getElementById("publish-su").value = document.getElementById("sunum").value
        document.getElementById("suspend-su").value = document.getElementById("sunum").value
    }
    function plusyes() {
        let num = parseInt(document.getElementById("yesnum").value)
        document.getElementById("yesnum").value = num + 1
        calc()
    }
    function minusyes() {
        let num = parseInt(document.getElementById("yesnum").value)
        if (num != 0) {
            document.getElementById("yesnum").value = num - 1
        }
        calc()
    }
    function plusno() {
        let num = parseInt(document.getElementById("nonum").value)
        document.getElementById("nonum").value = num + 1
        calc()
    }
    function minusno() {
        let num = parseInt(document.getElementById("nonum").value)
        if (num != 0) {
            document.getElementById("nonum").value = num - 1
        }
        calc()
    }
    function plussu() {
        let num = parseInt(document.getElementById("sunum").value)
        document.getElementById("sunum").value = num + 1
        calc()
    }
    function minussu() {
        let num = parseInt(document.getElementById("sunum").value)
        if (num != 0) {
            document.getElementById("sunum").value = num - 1
        }
        calc()
    }

</script>